// Setup Stuffs
* {
  // box-sizing: border-box;
  margin: 0;
  padding: 0;
}

// To move to certain id in a smooth way
html {
  scroll-behavior: smooth;
}

body {
  background: #fff;
  color: $dark-color;
  font-family: $font-stack;
  line-height: 1.6;
}

.div-nomargin{
  padding:0;
  margin:0;
}

a{
    color: #FFF;
    text-decoration: none;

    &:hover{
      color: $link-color;
    }
}

ul{
	list-style:none;
}

h2,h3,h4{
	text-transform:uppercase;
}

img{
	width:100%;
}


//  CONTAINERS AND GRID CLASS
.container{
    max-width:$website-width;
    padding: 0 1.5rem;
    margin:auto;
    overflow:hidden;

      @media(max-width:800px){
        padding: 0 0rem;
      }
}

.flexbox-container{
  display:flex;
  flex-direction: row;
  align-items: center;
  align-self: center;
  justify-content: space-evenly;
  
  @media(max-width:800px){
    flex-direction: column-reverse;
  }
}

.flex-container{
  display:flex;
  flex-direction: row;
  align-items: center;
  //justify-content: space-between;
  justify-content: space-evenly;

  @media(max-width:800px){
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }
}

.twoboxgrid {
  display: grid;
  grid-template-areas:
  'img bio bio';
  // Allow some space between areas
  grid-gap:1.2rem;

  //note that need to assign each grid are to classes
  //i.e. 
  // .about img{
  //   grid-area:img;
  // }

  // .about textbox{
  //   grid-area:bio;
  //   border-left: 3px solid $main-color;
  //   padding:0.8rem;
  // }

  //***** REFER TO STYLE.CSSS ABOUT SECTION FOR HOW TO UTILIZE *****//
}

.twoboxgrid-reverse{
  display: grid;
  grid-template-areas:
  'bio bio bio img img';
  // Allow some space between areas
  grid-gap:1.2rem;
}

.threeboxgrid {
  display: grid;
  grid-template-areas:
  'box1 box2 box3';
  // Allow some space between areas
  grid-gap:1.2rem;
}

//button
%btn-shared{
    display:inline-block;
    padding: 0.8rem 2rem;
    transition: all 0.5s;
    border:none;
    cursor:pointer;
}

.btn {
  &-main {
    @extend %btn-shared;
    color: #333;
    background-color: $main-color;
  }

  &-light {
    @extend %btn-shared;
    color: #333;
    background-color: $light-color;
  }

  &-dark {
    @extend %btn-shared;
    color: #f4f4f4;
    background-color: $dark-color;
  }
}

// THis means any button, a or input that has the name btn- (i.e. btn-dark) will have background color of main if hovered.
button[class^='btn-']:hover,
a[class^='btn-']:hover,
input[class^='btn-']:hover {
  background-color: $main-color;
}

.text-center{
    text-align: center;
}

.text-justify{
  text-align: justify;
}
// Backgrounds
.bg {
  &-main {
    background: $main-color;
    color: set-text-color($main-color);
  }
  &-dark {
    background: $dark-color;
    color: set-text-color($dark-color);
  }
  &-light {
    background: $light-color;
    color: set-text-color($light-color);
  }
  &-medium {
    background: $medium-color;
    color: set-text-color($medium-color);
  }
}

// Padding Classes
.py{
  &-1 {
    padding: 1rem 0;
  }
  &-2 {
    padding: 2rem 0;
  }&-3 {
    padding-top: 3rem;
    padding-bottom: 1rem;
  }&-4 {
    padding: 4rem 0;
  }
}

// Margin Classes
.my{
  &-1 {
    margin: 1rem 0;
  }
  &-2 {
    margin: 2rem 0;
  }&-3 {
    margin: 3rem 0;
  }&-4 {
    margin: 4rem 0;
  }
}

// Useful Stuffs
.section-title {
  font-size: 2rem;
  display: block;
  padding-bottom: 0.5rem;
  text-align: center;
  font-weight: 100;
  text-transform: uppercase;
}

.bottom-line {
  height: 2px;
  width: 3rem;
  background: $main-color;
  display: block;
  margin: 0 auto 1rem auto;
}

