@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');

$website-width:1280px;
$website-width:1480px;
$screen-width:800px;
$primary-color: #ffbc00;
$main-color: #ffbc00;
$medium-color:#ccc;
$medium-color:#ccc;
$light-color: #f4f4f4;
$dark-color: #333;
$link-color: #0000EE;
$font-stack: 'Dosis', sans-serif;



// Set Text Color
@function set-text-color($color) {
    @if (lightness($color) > 50) {
      @return #000;
    } @else {
      @return #fff;
    }
  }
  

$bg-image:url('../img/showcase.jpg');
$bg-phone:url('../img/showcase3.jpg');
