@import 'variables';
@import 'utilities';
@import 'item_grid';

.ptop-1{
  padding-top: 1rem;
}
// -----------------------HEADER/NAVBAR------------------//
//1.Header
#header-home{
  background: $bg-image no-repeat center /cover;
  height:100vh;
  // font-weight: 1000;
  color: $light-color;
}

// Header Pages for About, Work & Contact Me
#header-secondary{
  background: $bg-phone no-repeat 50% 36% /cover;
  height: 7rem;
  border-bottom: solid $main-color 3px;
  color: #fff;
}


// =================2.Header Showcase/Content==============Below Nav Bar Area
#header-content{
  // Alternatively you can do display flex (column) refer to Edgeledger if needed
  text-align: center;
  padding-top:20%;

  h1{
    font-size:4rem;
    line-height:1.2;
  }
}

//Lead (text under showcase)
.lead{
    margin-bottom: 2rem;
    font-size: 1.4rem;
    text-transform: capitalize;
}


//3.===========================Nav Bar ==========================//
#main-nav{
  // This seperates LOGO from LIST
  display:flex;
  justify-content: space-between;
  padding-top:1rem;
  align-content: center;



  //Nested Logo On Left
  #logo{
    width: 12rem;
    height: 4rem;
    object-fit: contain;
    padding: 1 rem 1.5rem;
    color:#fff;
    text-transform: uppercase;
    padding-left: 1rem;
    font-style: italic;
    // border: 2px black solid;
  }
  // Nest List on right
  ul{
    // This serperates the LI from each other
    display:flex;
  }
  
  li{
    padding: 1rem 1.5rem;
    }
  // List of Navigation
  a{
    text-decoration: none;
    font-size: larger;
    color: #fff;
    text-transform: uppercase;

    // The reason we have a transparent border is because of the hover effect
    // If we want to underline the word with a hover (withotu moving the text need transparent border)
    border-bottom: 3px transparent solid;
    padding-bottom:0.5rem;
    transition: border-color 0.5;

    &:hover{
      border-color:$primary-color;
    }

    &.current{
      border-color: $primary-color;
    }
  }
  .top{
    background-color: transparent;
  }
}


//=================4 . Home Sections ======================
#home {

  // Home Section A
  &-a {
    .specials {
      margin-top: 3rem;
      display: grid;
      grid-gap: 1rem;
      grid-template-columns: repeat(4, 1fr);

      .fas {
        color: $main-color;
        padding-bottom: 0.4rem;
      }
      .fab{
        color: $main-color;
        padding-bottom: 0.4rem;
      }
      .fa{
        color: $main-color;
        padding-bottom: 0.4rem;
      }

    }
  }

  // Home Section B
  &-b {
    .stats {
      display: grid;
      grid-template-columns: repeat(4, 1fr);

      li {
        line-height: 2;

        &.stats-title {
          font-size: 1.5rem;
        }

        &.stats-number {
          font-size: 2rem;
          font-weight: bold;
        }
      }

      div {
        padding: 3rem 0;

        &:nth-child(odd) {
          background: $light-color;
        }

        &:nth-child(even) {
          background: $medium-color;
        }
      }
    }
  }
}


// ================== 5. Footer ==========================
#main-footer{
  background: $dark-color;
  color:#fff;
  height:5rem;

  .footer-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;

  }

  .footer-socialmedia .fab
  {
    margin-right: 1rem;
    border: 2px #fff solid;
    border-radius: 50%;
    height:1rem;
    width: 1rem;
    // line-height: 1.2rem;
    text-align: center;
    padding:0.5rem;

    &:hover{
      background-color: $main-color;
    }

  }
  .footer-socialmedia i{
    padding-left: 1.5rem;
  }

}


// ==================6.About =============================
#about
{
  // First Section - About ME
  p{
    text-align: justify;
  }
  &-a{
    .bio-image{
    grid-area:img;
    }
    .textbox{
      grid-area:bio;
      border-left: 2px solid $main-color;
      padding:0.8rem;
    }
    .lead{
      margin-bottom: 1rem;
      font-size: 1.1rem;
      text-transform: none;
      font-style: italic;
    }

  } 

  &-b{
    .bio-image{
    grid-area:img;
  }

    .textbox{
      grid-area:bio;
      text-align: center;
      border-right: 2px solid $main-color;
      padding:0.8rem;
    }

    .lead{
      margin-bottom: 1rem;
      font-size: 1.1rem;
      text-transform: none;
      font-style: italic;
    }

  } 

  // Targgetint the h4 adn P in about
  h4{
    padding-top: 4rem;
  }

}

// 3. -----------------WORK Section----------------------//

#work{

  &-b{
    .textbox{
      min-height:200px;
    }
  }
  
  &-awards{
    // Making sure the li items text are justify 
    li{
      text-align: justify;
    }
    // Headers need bottom borders only for award section (Honors, Scholarships, Udemyclasses)
    h4{
      padding: 0;
      margin-top: 1.2rem;
      border-bottom: 1px solid black;
    }
    // Special Exception to align the flex elements (disable to see difference)
    .flex-container{
      align-items: flex-start;
    }
    // Each Box is an element, when phone version, need to make box bigger since they are stacked on each other)
    .box{
      width:30%;
      @media (max-width:$screen-width)
      {
        margin: auto;
        width:70%;
      }


      a{
        color: $dark-color;

        &:hover{
          color: $link-color;
        }
      }
    }

  }

  &-skills{
    p{
      font-size: 1.2rem;
      text-transform: none;
    }
    .progress{
      // Makes sure that the figure is contained
      overflow:hidden;
      height: 20px;
      background-color: $medium-color;
      border-radius: 5px;
      margin-bottom: 0.6rem;
      // The div with the width style
      div{
        // Make sure it fills up vertically
        height:100%;
        text-align: center;
        // Color of progress
        background-color: $main-color;
      }
    }
    
  }  
}

// ---------------------------Contact me --------------------------
// Contact Page
#contact {
  &-a {
    .text-fields {
      display: grid;
      grid-template-areas:
        'name email'
        'subject phone'
        'message message';
      grid-gap: 1.2rem;
      margin-bottom: 1.2rem;

      // Grid Areas
      .name-input {
        grid-area: name;
      }
      .subject-input {
        grid-area: subject;
      }
      .email-input {
        grid-area: email;
      }
      .phone-input {
        grid-area: phone;
      }
      .message-input {
        grid-area: message;
        height: 100px;
      }

      .text-input {
        padding: 0.5rem 1rem;
      }
    }

    button[type='submit'] {
      width: 50%;
    }
  }

  &-b {
    .contact-info {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      text-align: center;
    }
  }

  &-c {
    h1 {
      text-align: center;
      font-size: 4rem;
    }
  }
}


// Import Media Query Last Since YOu want to overwrite anything else
@import 'media';